.card{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
}

.cart{
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media all and (max-width:980px) {
    header li{
        
    }
}



@media all and (max-width:980px){
    #services li{
        width: 48%;        
    }
    
    
}
@media all and (max-width:780px){
    #services li{
        width: 100%;        
    }
}


.cont::-webkit-scrollbar{
    width: 0;
}


